.button
{
    -fx-background-color : #282a2c;
    -fx-border-color : #b2b2b2;
    -fx-border-radius : 5;
    -fx-background-radius : 5;
    -fx-border-width : 2;
    -fx-text-fill: #b2b2b2;
}
.button:hover
{
    -fx-background-color : grey;
    -fx-border-color : lightgrey;
    -fx-border-radius : 5;
    -fx-background-radius : 5;
    -fx-border-width : 2;
    -fx-text-fill: lightgrey;
}
.button:pressed{
    -fx-background-color : grey;
    -fx-border-color : white;
    -fx-border-radius : 5;
    -fx-background-radius : 5;
    -fx-border-width : 2;
    -fx-text-fill: lightgrey;
}